*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}
a {
    text-decoration: none;
}
header {
    border-bottom: 1px solid #999;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

header h1 a {
    color: red;  
    text-align: center;  
}
.nav-left {
    margin-right: auto;
}
.nav-right {
    display: flex;
    padding-top: 2rem;
}
.post-entry {
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.post-entry h2 {
    margin: 0.5rem 0;
}
.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
}
.post-entry h2 a:hover {
    color: red;
}
.post-entry p {
    margin: 0;
    font-weight: 400;
}