{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="post-entry">
        <h2><a href="">{{ object.title }}</a></h2>
        <p>{{ object.body }}</p>
    </div>
    
    <!-- comment section -->
    <hr>
    <div id="comments_section">
    {% if comments %}
    <ul>
        {% for comment in comments %}
        <li>           
            <div>
                <span>
                    <strong class="text-info">{{ comment.author }} </strong>
                    <small class="text-muted">{{ comment.created }}</small>
                </span>
                <p>
                    {{ comment.comment|safe }}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong class="text-secondary">No comments yet...</strong>
    {% endif %}

    {% if user.is_authenticated %}
    <form method="POST" style='max-width: 500px'>
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form|crispy }}
            <button class="btn btn-info ml-2" type="submit">Add comment</button>
        </div>
    </form>
    {% else %}
        <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
    {% endif %}
    </div>

    <p>
        <a href="{% url 'post_edit' post.pk %}">Edit post</a> |
        <a href="{% url 'post_delete' post.pk %}">Delete post</a>
    </p>
{% endblock content %}